// all abnners
// ------------------------------
#ad {
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 10px;
  img {
    position: absolute;
  }
}

// chromesoft banner
// ------------------------------
