#firstPage {
  //   background-color: #4193f7;
}
.hero-nav {
  //   background-color: red;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 99999;
  .logo {
    width: 200px;
    height: auto;
  }
  .socialIcons {
    margin-top: 25px;
    float: right;
    a {
      // background-color: red;
      color: wheat;
      // text-decoration: none;
    }
    i {
      color: white;
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
      // background-color: red;
    }
  }
}
.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;

  .slid-bg {
    width: 100%;
    height: 100%;
    background-color: #0c10cb;
    position: absolute;
    z-index: -200;
  }
  .hero-child {
    margin: auto;

    position: relative;
    width: 1000px;
    height: 1000px;
    transform: scale(0.8);

    /// on devices 992px and smaller
    @media (max-width: 992px) {
      // transform: scale(0.5);
      // width: 300vw;
    }

    .myslide {
      position: absolute;

      width: 100%;
      height: 100%;
      display: flex;
      .slide-child {
        margin: auto;
        width: fit-content;
        position: relative;
        img {
          max-width: 80vw;
          height: auto;
        }
      }
    }
    .slideTwo {
      //   background-color: red;
    }

    h1 {
      color: white;
      @media (max-width: 992px) {
        text-align: center;
      }
      @media (max-width: 657px) {
        font-size: 40px;
      }
    }

    .me {
      margin: auto;
      top: 0;
      margin-top: -250px;
      margin-left: 15%;
      position: absolute;
      z-index: -100;
      // mobile
      @media (max-width: 657px) {
        margin-left: 10%;
        margin-top: -100px;
      }
    }
    .dev {
      margin: auto;
      top: 0;
      width: 400px;
      height: auto;
      margin-left: 250px;
      margin-top: -100px;
      position: absolute;
      //   background-color: red;
      z-index: -100;
      max-width: 90vw;
      @media (max-width: 992px) {
        margin-top: 0px;
        position: relative;
        margin-left: 0;
        margin: auto;
        margin-bottom: -100px;
        display: block;
      }
    }
    .devShadow {
      @media (max-width: 992px) {
        display: none;
      }
    }

    .control {
      margin: auto;
      top: 0;
      width: 400px;
      height: auto;
      margin-left: 200px;
      margin-top: -150px;
      position: absolute;
      //   background-color: red;
      z-index: -100;
      @media (max-width: 992px) {
        margin-top: 0px;
        position: relative;
        margin-left: 0;
        margin: auto;
        margin-bottom: -100px;
        display: block;
      }
    }
    .controlShadow {
      @media (max-width: 992px) {
        display: none;
      }
    }
    .point {
      margin: auto;
      top: 0;
      width: 400px;
      height: auto;
      margin-left: 130px;
      margin-top: -175px;
      position: absolute;
      //   background-color: red;
      z-index: -100;

      // mobile
      @media (max-width: 657px) {
        width: 200px;
        margin-left: 30px;
        margin-top: -90px;
      }
    }
    .pointTop {
      z-index: 500;
    }
  }
}
