// font-family: 'Archivo Black', sans-serif;
// font-family: 'Archivo Narrow', sans-serif;
// font-family: 'PT Sans', sans-serif;

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 73pt;
}

h2 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 24pt;
  letter-spacing: 0.15em;
}

p {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 14pt;
  letter-spacing: 0.15em;
}
