.AboutSection {
  background-color: #0c10cb;
  width: 100%;
  min-height: 100vh;
  // height: 100vh;
  display: flex;

  padding-top: 100px;
  padding-bottom: 100px;
  .about_child {
    margin: auto;
    width: 1400px;
    max-width: 95vw;
    .title {
      h2 {
        text-align: center;
        font-family: "Archivo Black", sans-serif;
        font-size: 160pt;
        color: white;
        // shrink on 992px or below
        @media (max-width: 992px) {
          font-size: 100pt;
        }
        // shrink on 768px or below
        @media (max-width: 768px) {
          font-size: 50pt;
        }
      }
      margin-bottom: -150px;
      // shrink on 992px or below
      @media (max-width: 992px) {
        margin-bottom: -120px;
      }
      // remove bottom margin on 768px or below
      @media (max-width: 768px) {
        margin-bottom: 0;
      }
    }
    .aboutImg {
      width: 400px;
      max-width: 100%;
      height: auto;
      margin: auto;
      display: block;
      // recude size on 992px or below
      @media (max-width: 992px) {
        width: 250px;
      }
    }
    color: white;
    text-align: center;
  }
}
